{
    "openapi": "3.0.0",
    "info": {
        "title": "deAPI REST API",
        "description": "Decentralized AI inference API for image generation, video processing, audio transcription, and more.\n\n## Webhooks\n\nEvery generation endpoint accepts an optional `webhook_url` (HTTPS only) and an optional\n`webhook_secret` (min. 32 chars). We then call you back on each status change instead of you polling.\n\n**Events:** `job.processing`, `job.completed`, `job.failed`.\n\n**Headers we send:** `X-DeAPI-Signature`, `X-DeAPI-Timestamp`, `X-DeAPI-Event`, `X-DeAPI-Delivery-Id`.\nPayload and header shapes are documented under `components.schemas`:\n`WebhookHeaders`, `WebhookProcessingPayload`, `WebhookCompletedPayload`, `WebhookFailedPayload`.\n\n**Verifying the signature:**\n\n```\nX-DeAPI-Signature = \"sha256=\" + HMAC_SHA256(secret, X-DeAPI-Timestamp + \".\" + raw_request_body)\n```\n\nHash the **raw** body exactly as received (escaped slashes and all) — re-serializing the parsed JSON\nyields a different signature. Reject timestamps older than 5 minutes (replay protection).\n\n**Which secret signs the call:** the per-request `webhook_secret` if you sent one, otherwise your\naccount-default secret. If neither exists, the call is still delivered but **UNSIGNED** —\n`X-DeAPI-Signature` is empty. If you require authenticity, reject an empty signature.\n\n**A per-request `webhook_url` is self-contained:** it is delivered even when your account has no\nwebhook configuration, or the account webhook is disabled. Failed deliveries are retried\n(10 attempts over ~24h).",
        "contact": {
            "name": "deAPI Support",
            "url": "https://deapi.ai",
            "email": "support@deapi.ai"
        },
        "version": "0.0.1"
    },
    "servers": [
        {
            "url": "https://api.deapi.ai",
            "description": "Production API Server base URL"
        }
    ],
    "paths": {
        "/api/v2/account/balance": {
            "get": {
                "tags": [
                    "Client API v2"
                ],
                "description": "Retrieve the current account balance for the authenticated client.",
                "operationId": "getAccountBalance",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/AcceptHeader"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Current client balance.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ClientInfoResource"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized user.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/response_error_default"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Request not found.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/response_error_default"
                                }
                            }
                        }
                    },
                    "429": {
                        "$ref": "#/components/responses/RateLimitExceeded"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/api/v2/jobs/{job_request}": {
            "get": {
                "tags": [
                    "Client API v2"
                ],
                "description": "Retrieve the current status and result of a submitted inference job.",
                "operationId": "getJob",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/AcceptHeader"
                    },
                    {
                        "name": "job_request",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "example": "c08a339c-73e5-4d67-a4d5-231302fbff9a"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Current status of requested inference.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/JobRequestStatusResource"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized user.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/response_error_default"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Request not found.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/response_error_default"
                                }
                            }
                        }
                    },
                    "429": {
                        "$ref": "#/components/responses/RateLimitExceeded"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/api/v2/models": {
            "get": {
                "tags": [
                    "Client API v2"
                ],
                "description": "List all available inference models.",
                "operationId": "listModels",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/AcceptHeader"
                    },
                    {
                        "name": "per_page",
                        "in": "query",
                        "description": "Accepted but currently ignored: the page size is fixed at 25 regardless of the value sent. Use `page` to retrieve the remaining results.",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "default": 25
                        }
                    },
                    {
                        "name": "page",
                        "in": "query",
                        "description": "Page number, starting at 1. The response is paginated: a single call returns at most 25 models, so a client that reads only the first page will miss models when `meta.last_page` is greater than 1. Iterate until `meta.current_page` equals `meta.last_page` to obtain the full catalogue.",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "default": 1
                        }
                    },
                    {
                        "name": "filter[inference_types]",
                        "in": "query",
                        "description": "Comma-separated list of inference types to filter by. Example: txt2img,txt2audio. Values must match the `inference_types` strings returned by this endpoint exactly — note that some of them use hyphens (`img-upscale`, `img-rmbg`, `vid-upscale`, `video-replace`). An unrecognised value is not rejected: the endpoint returns an empty `data` array.",
                        "required": false,
                        "style": "form",
                        "explode": false,
                        "schema": {
                            "type": "array",
                            "items": {
                                "type": "string",
                                "enum": [
                                    "txt2img",
                                    "img2txt",
                                    "txt2audio",
                                    "txt2music",
                                    "txt2video",
                                    "img2video",
                                    "img2img",
                                    "audio2video",
                                    "video-replace",
                                    "img-upscale",
                                    "img-rmbg",
                                    "vid-upscale",
                                    "txt2embedding",
                                    "audio2text",
                                    "video2text",
                                    "audio_file2text",
                                    "video_file2text"
                                ]
                            }
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "List of available models.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ClientDiffusionModelCollection"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized user.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/response_error_default"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Request not found.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/response_error_default"
                                }
                            }
                        }
                    },
                    "429": {
                        "$ref": "#/components/responses/RateLimitExceeded"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/api/v2/prompts/enhancements": {
            "post": {
                "tags": [
                    "Client API v2"
                ],
                "description": "Unified prompt booster — enhance prompts for any model and type using AI-powered guide system. Accepted `type` values (v2 noun-based dot notation): `images.generations`, `images.edits`, `videos.generations`, `videos.animations`, `audio.speech`, `audio.music`. Only prompt-driven inference types have a booster; upscaling, background removal, OCR, transcription and embeddings are rejected with 422.",
                "operationId": "clientBoostPromptV2",
                "requestBody": {
                    "required": true,
                    "content": {
                        "multipart/form-data": {
                            "schema": {
                                "oneOf": [
                                    {
                                        "required": [
                                            "prompt",
                                            "type",
                                            "model_slug"
                                        ],
                                        "properties": {
                                            "prompt": {
                                                "type": "string",
                                                "minLength": 3,
                                                "example": "A beautiful landscape with mountains"
                                            },
                                            "negative_prompt": {
                                                "type": "string",
                                                "minLength": 3,
                                                "example": "blurry, low quality",
                                                "nullable": true
                                            },
                                            "type": {
                                                "description": "Inference type in v2 dot notation (e.g. images.generations, videos.animations, audio.speech)",
                                                "type": "string",
                                                "example": "images.generations"
                                            },
                                            "model_slug": {
                                                "type": "string",
                                                "example": "Flux1schnell"
                                            }
                                        },
                                        "type": "object"
                                    },
                                    {
                                        "required": [
                                            "prompt",
                                            "type",
                                            "model_slug",
                                            "image"
                                        ],
                                        "properties": {
                                            "prompt": {
                                                "type": "string",
                                                "minLength": 3,
                                                "example": "A beautiful landscape with mountains"
                                            },
                                            "negative_prompt": {
                                                "type": "string",
                                                "minLength": 3,
                                                "example": "blurry, low quality",
                                                "nullable": true
                                            },
                                            "type": {
                                                "description": "Inference type in v2 dot notation (e.g. images.generations, videos.animations, audio.speech)",
                                                "type": "string",
                                                "example": "images.edits"
                                            },
                                            "model_slug": {
                                                "type": "string",
                                                "example": "QwenImageEdit_Plus_NF4"
                                            },
                                            "image": {
                                                "description": "Reference image. Required for images.edits/videos.animations. Supported formats: JPEG, PNG, BMP, GIF, WebP.",
                                                "type": "string",
                                                "format": "binary",
                                                "nullable": false
                                            }
                                        },
                                        "type": "object"
                                    }
                                ]
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Enhanced prompts returned successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "prompt": {
                                            "type": "string"
                                        },
                                        "negative_prompt": {
                                            "type": "string",
                                            "nullable": true
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Validation failed, insufficient balance, or no guide available",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/response_error_unprocessable_entity"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/api/v2/prompts/enhancements/price": {
            "post": {
                "tags": [
                    "Client API v2"
                ],
                "description": "Calculate the price for the unified prompt booster. Accepted `type` values (v2 noun-based dot notation): `images.generations`, `images.edits`, `videos.generations`, `videos.animations`, `audio.speech`, `audio.music`. Only prompt-driven inference types have a booster; upscaling, background removal, OCR, transcription and embeddings are rejected with 422.",
                "operationId": "clientCalculateBoostPriceV2",
                "requestBody": {
                    "required": true,
                    "content": {
                        "multipart/form-data": {
                            "schema": {
                                "properties": {
                                    "prompt": {
                                        "type": "string",
                                        "minLength": 3,
                                        "example": "A beautiful landscape"
                                    },
                                    "negative_prompt": {
                                        "type": "string",
                                        "minLength": 3,
                                        "example": "blurry, low quality",
                                        "nullable": true
                                    },
                                    "type": {
                                        "description": "Inference type in v2 dot notation (e.g. images.generations, videos.animations, audio.speech)",
                                        "type": "string",
                                        "example": "images.generations"
                                    },
                                    "model_slug": {
                                        "type": "string",
                                        "example": "Flux1schnell"
                                    },
                                    "image": {
                                        "description": "Reference image (for price estimation of image-based types).",
                                        "type": "string",
                                        "format": "binary",
                                        "nullable": true
                                    }
                                },
                                "type": "object",
                                "required": [
                                    "prompt",
                                    "type",
                                    "model_slug"
                                ]
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Price calculation returned successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "price": {
                                            "type": "number",
                                            "format": "float",
                                            "example": 0.00012345
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Validation failed",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/response_error_unprocessable_entity"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/api/v2/videos/audio-syncs": {
            "post": {
                "tags": [
                    "Client API v2"
                ],
                "description": "Generate a video conditioned on an audio track.",
                "operationId": "syncVideoAudio",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/AcceptHeader"
                    }
                ],
                "requestBody": {
                    "description": "Audio to video generation parameters",
                    "required": true,
                    "content": {
                        "multipart/form-data": {
                            "schema": {
                                "$ref": "#/components/schemas/Aud2VideoRequestBody"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "ID of the inference request.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/JobRequestResponseResource"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized user.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/response_error_default"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Not found.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/response_error_default"
                                }
                            }
                        }
                    },
                    "422": {
                        "$ref": "#/components/responses/ValidationError"
                    },
                    "429": {
                        "$ref": "#/components/responses/RateLimitExceeded"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/api/v2/videos/audio-syncs/price": {
            "post": {
                "tags": [
                    "Client API v2"
                ],
                "description": "Estimate the price of an audio-to-video sync request.",
                "operationId": "estimateVideoAudioSyncPrice",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/AcceptHeader"
                    }
                ],
                "requestBody": {
                    "description": "Audio to video price calculation parameters",
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/Aud2VideoPriceRequestBody"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Calculated price for audio2video inference.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "data": {
                                            "properties": {
                                                "price": {
                                                    "description": "Calculated price for the inference",
                                                    "type": "number",
                                                    "format": "float",
                                                    "example": 0.15
                                                }
                                            },
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized user.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/response_error_default"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Not found.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/response_error_default"
                                }
                            }
                        }
                    },
                    "422": {
                        "$ref": "#/components/responses/ValidationError"
                    },
                    "429": {
                        "$ref": "#/components/responses/RateLimitExceeded"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/api/v2/images/edits/price": {
            "post": {
                "tags": [
                    "Client API v2"
                ],
                "description": "Estimate the price of an image edit request.",
                "operationId": "estimateImageEditPrice",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/AcceptHeader"
                    }
                ],
                "requestBody": {
                    "description": "Image generation parameters",
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/Img2ImgPriceRequestBody"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Calculated price for img2img inference.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "data": {
                                            "properties": {
                                                "price": {
                                                    "description": "Calculated price for the inference",
                                                    "type": "number",
                                                    "format": "float",
                                                    "example": 0.25
                                                }
                                            },
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized user.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/response_error_default"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Not found.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/response_error_default"
                                }
                            }
                        }
                    },
                    "422": {
                        "$ref": "#/components/responses/ValidationError"
                    },
                    "429": {
                        "$ref": "#/components/responses/RateLimitExceeded"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/api/v2/images/ocr/price": {
            "post": {
                "tags": [
                    "Client API v2"
                ],
                "description": "Estimate the price of an image OCR request.",
                "operationId": "estimateImageOcrPrice",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/AcceptHeader"
                    }
                ],
                "requestBody": {
                    "description": "Image to text conversion parameters",
                    "required": true,
                    "content": {
                        "multipart/form-data": {
                            "schema": {
                                "$ref": "#/components/schemas/Img2TxtPriceRequestBody"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Calculated price for img2txt inference.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "data": {
                                            "properties": {
                                                "price": {
                                                    "description": "Calculated price for the inference",
                                                    "type": "number",
                                                    "format": "float",
                                                    "example": 0.15
                                                }
                                            },
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized user.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/response_error_default"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Not found.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/response_error_default"
                                }
                            }
                        }
                    },
                    "422": {
                        "$ref": "#/components/responses/ValidationError"
                    },
                    "429": {
                        "$ref": "#/components/responses/RateLimitExceeded"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/api/v2/videos/animations/price": {
            "post": {
                "tags": [
                    "Client API v2"
                ],
                "description": "Estimate the price of an image-to-video animation request.",
                "operationId": "estimateVideoAnimationPrice",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/AcceptHeader"
                    }
                ],
                "requestBody": {
                    "description": "Image to video price calculation parameters",
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/Img2VideoPriceRequestBody"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Calculated price for img2video inference.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "data": {
                                            "properties": {
                                                "price": {
                                                    "description": "Calculated price for the inference",
                                                    "type": "number",
                                                    "format": "float",
                                                    "example": 0.15
                                                }
                                            },
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized user.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/response_error_default"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Not found.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/response_error_default"
                                }
                            }
                        }
                    },
                    "422": {
                        "$ref": "#/components/responses/ValidationError"
                    },
                    "429": {
                        "$ref": "#/components/responses/RateLimitExceeded"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/api/v2/images/background-removals/price": {
            "post": {
                "tags": [
                    "Client API v2"
                ],
                "description": "Estimate the price of an image background removal request.",
                "operationId": "estimateImageBackgroundRemovalPrice",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/AcceptHeader"
                    }
                ],
                "requestBody": {
                    "description": "Image background removal parameters",
                    "required": true,
                    "content": {
                        "multipart/form-data": {
                            "schema": {
                                "$ref": "#/components/schemas/ImageRemoveBgPriceRequestBody"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Calculated price for image background removal inference.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "data": {
                                            "properties": {
                                                "price": {
                                                    "description": "Calculated price for the inference",
                                                    "type": "number",
                                                    "format": "float",
                                                    "example": 0.15
                                                }
                                            },
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized user.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/response_error_default"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Not found.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/response_error_default"
                                }
                            }
                        }
                    },
                    "422": {
                        "$ref": "#/components/responses/ValidationError"
                    },
                    "429": {
                        "$ref": "#/components/responses/RateLimitExceeded"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/api/v2/images/upscales/price": {
            "post": {
                "tags": [
                    "Client API v2"
                ],
                "description": "Estimate the price of an image upscale request.",
                "operationId": "estimateImageUpscalePrice",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/AcceptHeader"
                    }
                ],
                "requestBody": {
                    "description": "Image upscaling parameters",
                    "required": true,
                    "content": {
                        "multipart/form-data": {
                            "schema": {
                                "$ref": "#/components/schemas/ImageUpscalePriceRequestBody"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Calculated price for image upscaling inference.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "data": {
                                            "properties": {
                                                "price": {
                                                    "description": "Calculated price for the inference",
                                                    "type": "number",
                                                    "format": "float",
                                                    "example": 0.15
                                                }
                                            },
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized user.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/response_error_default"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Not found.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/response_error_default"
                                }
                            }
                        }
                    },
                    "422": {
                        "$ref": "#/components/responses/ValidationError"
                    },
                    "429": {
                        "$ref": "#/components/responses/RateLimitExceeded"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/api/v2/images/generations/price": {
            "post": {
                "tags": [
                    "Client API v2"
                ],
                "description": "Estimate the price of a text-to-image generation request.",
                "operationId": "estimateImagePrice",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/AcceptHeader"
                    }
                ],
                "requestBody": {
                    "description": "Image generation parameters",
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/Txt2ImgPriceRequestBody"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Calculated price for text2img inference.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "data": {
                                            "properties": {
                                                "price": {
                                                    "description": "Calculated price for the inference",
                                                    "type": "number",
                                                    "format": "float",
                                                    "example": 0.25
                                                }
                                            },
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized user.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/response_error_default"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Not found.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/response_error_default"
                                }
                            }
                        }
                    },
                    "422": {
                        "$ref": "#/components/responses/ValidationError"
                    },
                    "429": {
                        "$ref": "#/components/responses/RateLimitExceeded"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/api/v2/audio/speech/price": {
            "post": {
                "tags": [
                    "Client API v2"
                ],
                "description": "Estimate the price of a text-to-speech generation request. Either text or count_text must be provided.",
                "operationId": "estimateSpeechPrice",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/AcceptHeader"
                    }
                ],
                "requestBody": {
                    "description": "Audio generation parameters. Either text or count_text must be provided. Voice is optional (not needed for voice_clone or voice_design modes).",
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/Txt2AudioPriceRequestBody"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Calculated price for text2audio inference.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "data": {
                                            "properties": {
                                                "price": {
                                                    "description": "Calculated price for the inference",
                                                    "type": "number",
                                                    "format": "float",
                                                    "example": 0.25
                                                }
                                            },
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized user.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/response_error_default"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Not found.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/response_error_default"
                                }
                            }
                        }
                    },
                    "422": {
                        "$ref": "#/components/responses/ValidationError"
                    },
                    "429": {
                        "$ref": "#/components/responses/RateLimitExceeded"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/api/v2/embeddings/price": {
            "post": {
                "tags": [
                    "Client API v2"
                ],
                "description": "Estimate the price of an embedding request.",
                "operationId": "estimateEmbeddingPrice",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/AcceptHeader"
                    }
                ],
                "requestBody": {
                    "description": "Text to embedding conversion parameters",
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/Txt2EmbeddingPriceRequestBody"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Calculated price for txt2embedding inference.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "data": {
                                            "properties": {
                                                "price": {
                                                    "description": "Calculated price for the inference",
                                                    "type": "number",
                                                    "format": "float",
                                                    "example": 0.0003
                                                }
                                            },
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized user.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/response_error_default"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Not found.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/response_error_default"
                                }
                            }
                        }
                    },
                    "422": {
                        "$ref": "#/components/responses/ValidationError"
                    },
                    "429": {
                        "$ref": "#/components/responses/RateLimitExceeded"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/api/v2/videos/generations/price": {
            "post": {
                "tags": [
                    "Client API v2"
                ],
                "description": "Estimate the price of a text-to-video generation request.",
                "operationId": "estimateVideoPrice",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/AcceptHeader"
                    }
                ],
                "requestBody": {
                    "description": "Text to video conversion parameters",
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/Txt2VideoPriceRequestBody"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Calculated price for txt2video inference.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "data": {
                                            "properties": {
                                                "price": {
                                                    "description": "Calculated price for the inference",
                                                    "type": "number",
                                                    "format": "float",
                                                    "example": 0.15
                                                }
                                            },
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized user.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/response_error_default"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Not found.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/response_error_default"
                                }
                            }
                        }
                    },
                    "422": {
                        "$ref": "#/components/responses/ValidationError"
                    },
                    "429": {
                        "$ref": "#/components/responses/RateLimitExceeded"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/api/v2/audio/transcriptions/price": {
            "post": {
                "tags": [
                    "Client API v2"
                ],
                "description": "Estimate the price of a transcription request. Provide one of: source_url, source_file, or duration_seconds.",
                "operationId": "estimateTranscriptionPrice",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/AcceptHeader"
                    }
                ],
                "requestBody": {
                    "description": "Transcription price calculation parameters",
                    "required": true,
                    "content": {
                        "multipart/form-data": {
                            "schema": {
                                "$ref": "#/components/schemas/TranscribePriceRequestBody"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Calculated price for transcription.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "data": {
                                            "properties": {
                                                "price": {
                                                    "description": "Calculated price for the transcription",
                                                    "type": "number",
                                                    "format": "float",
                                                    "example": 0.25
                                                }
                                            },
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized user.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/response_error_default"
                                }
                            }
                        }
                    },
                    "422": {
                        "$ref": "#/components/responses/ValidationError"
                    },
                    "429": {
                        "$ref": "#/components/responses/RateLimitExceeded"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/api/v2/audio/music/price": {
            "post": {
                "tags": [
                    "Client API v2"
                ],
                "description": "Estimate the price of a text-to-music generation request. Requires duration and inference_steps parameters.",
                "operationId": "estimateMusicPrice",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/AcceptHeader"
                    }
                ],
                "requestBody": {
                    "description": "Music generation parameters for price calculation.",
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/Txt2MusicPriceRequestBody"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Calculated price for text2music inference.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "data": {
                                            "properties": {
                                                "price": {
                                                    "description": "Calculated price for the inference",
                                                    "type": "number",
                                                    "format": "float",
                                                    "example": 0.25
                                                }
                                            },
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized user.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/response_error_default"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Model not found.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/response_error_default"
                                }
                            }
                        }
                    },
                    "422": {
                        "$ref": "#/components/responses/ValidationError"
                    },
                    "429": {
                        "$ref": "#/components/responses/RateLimitExceeded"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/api/v2/videos/background-removals/price": {
            "post": {
                "tags": [
                    "Client API v2"
                ],
                "description": "Estimate the price of a video background removal request.",
                "operationId": "estimateVideoBackgroundRemovalPrice",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/AcceptHeader"
                    }
                ],
                "requestBody": {
                    "description": "Video background removal parameters",
                    "required": true,
                    "content": {
                        "multipart/form-data": {
                            "schema": {
                                "$ref": "#/components/schemas/VideoRemoveBgPriceRequestBody"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Calculated price for video background removal inference.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "data": {
                                            "properties": {
                                                "price": {
                                                    "description": "Calculated price for the inference",
                                                    "type": "number",
                                                    "format": "float",
                                                    "example": 0.25
                                                }
                                            },
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized user.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/response_error_default"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Not found.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/response_error_default"
                                }
                            }
                        }
                    },
                    "422": {
                        "$ref": "#/components/responses/ValidationError"
                    },
                    "429": {
                        "$ref": "#/components/responses/RateLimitExceeded"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/api/v2/videos/replacements/price": {
            "post": {
                "tags": [
                    "Client API v2"
                ],
                "description": "Estimate the price of a video character replacement request.",
                "operationId": "estimateVideoReplacementPrice",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/AcceptHeader"
                    }
                ],
                "requestBody": {
                    "description": "Video replace price calculation parameters",
                    "required": true,
                    "content": {
                        "multipart/form-data": {
                            "schema": {
                                "$ref": "#/components/schemas/VideoReplacePriceRequestBody"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Calculated price for video replace inference.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "data": {
                                            "properties": {
                                                "price": {
                                                    "description": "Calculated price for the inference",
                                                    "type": "number",
                                                    "format": "float",
                                                    "example": 0.15
                                                }
                                            },
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized user.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/response_error_default"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Not found.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/response_error_default"
                                }
                            }
                        }
                    },
                    "422": {
                        "$ref": "#/components/responses/ValidationError"
                    },
                    "429": {
                        "$ref": "#/components/responses/RateLimitExceeded"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/api/v2/videos/upscales/price": {
            "post": {
                "tags": [
                    "Client API v2"
                ],
                "description": "Estimate the price of a video upscale request.",
                "operationId": "estimateVideoUpscalePrice",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/AcceptHeader"
                    }
                ],
                "requestBody": {
                    "description": "Video upscaling parameters",
                    "required": true,
                    "content": {
                        "multipart/form-data": {
                            "schema": {
                                "$ref": "#/components/schemas/VideoUpscalePriceRequestBody"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Calculated price for video upscaling inference.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "data": {
                                            "properties": {
                                                "price": {
                                                    "description": "Calculated price for the inference",
                                                    "type": "number",
                                                    "format": "float",
                                                    "example": 0.25
                                                }
                                            },
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized user.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/response_error_default"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Not found.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/response_error_default"
                                }
                            }
                        }
                    },
                    "422": {
                        "$ref": "#/components/responses/ValidationError"
                    },
                    "429": {
                        "$ref": "#/components/responses/RateLimitExceeded"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/api/v2/images/edits": {
            "post": {
                "tags": [
                    "Client API v2"
                ],
                "description": "Edit an image guided by a text prompt. Accepts either a single image via \"image\" or multiple images via \"images[]\" (mutually exclusive).",
                "operationId": "editImage",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/AcceptHeader"
                    }
                ],
                "requestBody": {
                    "description": "Image generation parameters. Either \"image\" or \"images[]\" must be provided (not both).",
                    "required": true,
                    "content": {
                        "multipart/form-data": {
                            "schema": {
                                "$ref": "#/components/schemas/Img2ImgRequestBody"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "ID of the inference request.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/JobRequestResponseResource"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized user.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/response_error_default"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Not found.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/response_error_default"
                                }
                            }
                        }
                    },
                    "422": {
                        "$ref": "#/components/responses/ValidationError"
                    },
                    "429": {
                        "$ref": "#/components/responses/RateLimitExceeded"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/api/v2/images/ocr": {
            "post": {
                "tags": [
                    "Client API v2"
                ],
                "description": "Extract text from an image via OCR.",
                "operationId": "extractImageText",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/AcceptHeader"
                    }
                ],
                "requestBody": {
                    "description": "Image to text conversion parameters",
                    "required": true,
                    "content": {
                        "multipart/form-data": {
                            "schema": {
                                "$ref": "#/components/schemas/Img2TxtRequestBody"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "ID of the inference request.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/JobRequestResponseResource"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized user.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/response_error_default"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Not found.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/response_error_default"
                                }
                            }
                        }
                    },
                    "422": {
                        "$ref": "#/components/responses/ValidationError"
                    },
                    "429": {
                        "$ref": "#/components/responses/RateLimitExceeded"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/api/v2/videos/animations": {
            "post": {
                "tags": [
                    "Client API v2"
                ],
                "description": "Animate a still image into a video.",
                "operationId": "animateImage",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/AcceptHeader"
                    }
                ],
                "requestBody": {
                    "description": "Image to video generation parameters",
                    "required": true,
                    "content": {
                        "multipart/form-data": {
                            "schema": {
                                "$ref": "#/components/schemas/Img2VideoRequestBody"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "ID of the inference request.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/JobRequestResponseResource"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized user.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/response_error_default"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Not found.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/response_error_default"
                                }
                            }
                        }
                    },
                    "422": {
                        "$ref": "#/components/responses/ValidationError"
                    },
                    "429": {
                        "$ref": "#/components/responses/RateLimitExceeded"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/api/v2/images/background-removals": {
            "post": {
                "tags": [
                    "Client API v2"
                ],
                "description": "Remove the background from an image.",
                "operationId": "removeImageBackground",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/AcceptHeader"
                    }
                ],
                "requestBody": {
                    "description": "Image background removal parameters",
                    "required": true,
                    "content": {
                        "multipart/form-data": {
                            "schema": {
                                "$ref": "#/components/schemas/ImageRemoveBgRequestBody"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "ID of the inference request.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/JobRequestResponseResource"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized user.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/response_error_default"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Not found.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/response_error_default"
                                }
                            }
                        }
                    },
                    "422": {
                        "$ref": "#/components/responses/ValidationError"
                    },
                    "429": {
                        "$ref": "#/components/responses/RateLimitExceeded"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/api/v2/images/upscales": {
            "post": {
                "tags": [
                    "Client API v2"
                ],
                "description": "Upscale an image to a higher resolution.",
                "operationId": "upscaleImage",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/AcceptHeader"
                    }
                ],
                "requestBody": {
                    "description": "Image upscaling parameters",
                    "required": true,
                    "content": {
                        "multipart/form-data": {
                            "schema": {
                                "$ref": "#/components/schemas/ImageUpscaleRequestBody"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "ID of the inference request.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/JobRequestResponseResource"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized user.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/response_error_default"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Not found.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/response_error_default"
                                }
                            }
                        }
                    },
                    "422": {
                        "$ref": "#/components/responses/ValidationError"
                    },
                    "429": {
                        "$ref": "#/components/responses/RateLimitExceeded"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/api/v2/audio/speech": {
            "post": {
                "tags": [
                    "Client API v2"
                ],
                "description": "Generate speech audio from text. Supports three TTS modes: custom_voice (default, preset speakers), voice_clone (clone from reference audio), voice_design (create voice from description).",
                "operationId": "generateSpeech",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/AcceptHeader"
                    }
                ],
                "requestBody": {
                    "description": "Audio generation parameters. Supports three TTS modes: custom_voice (default, preset speakers), voice_clone (clone from reference audio), voice_design (create voice from description).",
                    "required": true,
                    "content": {
                        "multipart/form-data": {
                            "schema": {
                                "$ref": "#/components/schemas/Txt2AudioRequestBody"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "ID of the inference request.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/JobRequestResponseResource"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized user.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/response_error_default"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Not found.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/response_error_default"
                                }
                            }
                        }
                    },
                    "422": {
                        "$ref": "#/components/responses/ValidationError"
                    },
                    "429": {
                        "$ref": "#/components/responses/RateLimitExceeded"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/api/v2/embeddings": {
            "post": {
                "tags": [
                    "Client API v2"
                ],
                "description": "Generate embeddings for one or more input texts.",
                "operationId": "createEmbedding",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/AcceptHeader"
                    }
                ],
                "requestBody": {
                    "description": "Text to embedding conversion parameters",
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/Txt2EmbeddingRequestBody"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "ID of the inference request.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/JobRequestResponseResource"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized user.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/response_error_default"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Not found.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/response_error_default"
                                }
                            }
                        }
                    },
                    "422": {
                        "$ref": "#/components/responses/ValidationError"
                    },
                    "429": {
                        "$ref": "#/components/responses/RateLimitExceeded"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/api/v2/images/generations": {
            "post": {
                "tags": [
                    "Client API v2"
                ],
                "description": "Generate an image from a text prompt.",
                "operationId": "generateImage",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/AcceptHeader"
                    }
                ],
                "requestBody": {
                    "description": "Image generation parameters",
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/Txt2ImgRequestBody"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "ID of the inference request.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/JobRequestResponseResource"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized user.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/response_error_default"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Not found.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/response_error_default"
                                }
                            }
                        }
                    },
                    "422": {
                        "$ref": "#/components/responses/ValidationError"
                    },
                    "429": {
                        "$ref": "#/components/responses/RateLimitExceeded"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/api/v2/audio/music": {
            "post": {
                "tags": [
                    "Client API v2"
                ],
                "description": "Generate music from a text prompt.",
                "operationId": "generateMusic",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/AcceptHeader"
                    }
                ],
                "requestBody": {
                    "description": "Music generation parameters",
                    "required": true,
                    "content": {
                        "multipart/form-data": {
                            "schema": {
                                "$ref": "#/components/schemas/Txt2MusicRequestBody"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "ID of the inference request.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/JobRequestResponseResource"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized user.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/response_error_default"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Model not found.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/response_error_default"
                                }
                            }
                        }
                    },
                    "422": {
                        "$ref": "#/components/responses/ValidationError"
                    },
                    "429": {
                        "$ref": "#/components/responses/RateLimitExceeded"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/api/v2/videos/generations": {
            "post": {
[...]
