{
    "openapi": "3.1.0",
    "info": {
        "title": "deAPI REST API",
        "description": "Decentralized AI inference API for image generation, video processing, audio transcription, and more.\n\n## Rate limits\n\nTwo windows can apply to a request: a per-minute one (RPM) and a per-day one (RPD). Every\nthrottled response — success or 429 — carries the `X-RateLimit-*` headers, so you can pace\ntraffic without waiting to be rejected. Each header documents itself: see `components/headers`,\nor the headers listed on any response. What follows is only what a header cannot say about\nitself.\n\nWindows open on your first request into a bucket and run their full length from that second —\nnever to a calendar boundary, in any timezone. That is deliberate: a boundary every account\nshares is a boundary every account can double up on.\n\n**The headers describe the pool *this* request landed in, and `X-RateLimit-Source` is what\nidentifies it — not `X-RateLimit-Limit` alone.** A per-model limit is keyed to the model you\nnamed, so a request that carried no recognised `model` — rejected at validation, an unknown\nslug, an empty body — was counted against your tier pool, and it is the tier pool the headers\nthen describe. The two pools are fully independent: separate minute window, separate day,\nseparate `X-RateLimit-Daily-Reset`. This is a consequence of rate limiting running *before*\nvalidation, which is what keeps malformed traffic from reaching the rest of the API\nuncounted. Compare headers only across responses carrying the same `X-RateLimit-Source`.\n\n**Buckets are shared in ways worth knowing.** API **v1 and v2 count against the same bucket**,\nso migrating grants no fresh allowance and mixed traffic behaves as one stream. All `*/price`\nand `*/price-calculation` endpoints share a single quote bucket, separate from generation.\nPrompt enhancement (`/v2/prompts/enhancements`) has its own bucket as well, so heavy prompt\nwork no longer eats into your image throughput.\n\n**Counting is exact in sequence, best-effort in parallel.** Sent one after another, your\nrequests are counted precisely: the one that crosses the limit is the one that gets 429. Sent\nin parallel, a few beyond the limit can slip through, because the counter is read and then\nincremented as two steps and requests already in flight are not yet visible to one another.\nThe excess is bounded by how many of your own requests are in flight at once, and it only\never runs in your favour — you are never rejected while below your limit. So do not treat\n`X-RateLimit-Remaining` as a reservation: it is a snapshot, and a request you sent a\nmillisecond ago may already have spent what it shows.\n\nRequests rejected before authentication (HTTP 401) never reach the limiter and carry no\nrate-limit headers at all.",
        "contact": {
            "name": "deAPI Support",
            "url": "https://deapi.ai",
            "email": "support@deapi.ai"
        },
        "version": "0.0.1"
    },
    "servers": [
        {
            "url": "https://api.deapi.ai",
            "description": "Production API Server base URL"
        }
    ],
    "paths": {
        "/api/v2/account/balance": {
            "get": {
                "tags": [
                    "Client API v2"
                ],
                "summary": "Get account balance",
                "description": "Retrieve the current account balance for the authenticated client.",
                "operationId": "getAccountBalance",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/AcceptHeader"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Current client balance.",
                        "headers": {
                            "X-RateLimit-Policy": {
                                "$ref": "#/components/headers/X-RateLimit-Policy"
                            },
                            "X-RateLimit-Source": {
                                "$ref": "#/components/headers/X-RateLimit-Source"
                            },
                            "X-RateLimit-Limit": {
                                "$ref": "#/components/headers/X-RateLimit-Limit"
                            },
                            "X-RateLimit-Remaining": {
                                "$ref": "#/components/headers/X-RateLimit-Remaining"
                            },
                            "X-RateLimit-Reset": {
                                "$ref": "#/components/headers/X-RateLimit-Reset"
                            },
                            "X-RateLimit-Daily-Limit": {
                                "$ref": "#/components/headers/X-RateLimit-Daily-Limit"
                            },
                            "X-RateLimit-Daily-Remaining": {
                                "$ref": "#/components/headers/X-RateLimit-Daily-Remaining"
                            },
                            "X-RateLimit-Daily-Reset": {
                                "$ref": "#/components/headers/X-RateLimit-Daily-Reset"
                            }
                        },
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ClientInfoResource"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized user.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/response_error_default"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Request not found.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/response_error_default"
                                }
                            }
                        }
                    },
                    "429": {
                        "$ref": "#/components/responses/RateLimitExceeded"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/api/v2/jobs/{job_request}": {
            "get": {
                "tags": [
                    "Client API v2"
                ],
                "summary": "Get job status and result",
                "description": "Retrieve the current status and result of a submitted inference job.",
                "operationId": "getJob",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/AcceptHeader"
                    },
                    {
                        "name": "job_request",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "example": "c08a339c-73e5-4d67-a4d5-231302fbff9a"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Current status of requested inference.",
                        "headers": {
                            "X-RateLimit-Policy": {
                                "$ref": "#/components/headers/X-RateLimit-Policy"
                            },
                            "X-RateLimit-Source": {
                                "$ref": "#/components/headers/X-RateLimit-Source"
                            },
                            "X-RateLimit-Limit": {
                                "$ref": "#/components/headers/X-RateLimit-Limit"
                            },
                            "X-RateLimit-Remaining": {
                                "$ref": "#/components/headers/X-RateLimit-Remaining"
                            },
                            "X-RateLimit-Reset": {
                                "$ref": "#/components/headers/X-RateLimit-Reset"
                            },
                            "X-RateLimit-Daily-Limit": {
                                "$ref": "#/components/headers/X-RateLimit-Daily-Limit"
                            },
                            "X-RateLimit-Daily-Remaining": {
                                "$ref": "#/components/headers/X-RateLimit-Daily-Remaining"
                            },
                            "X-RateLimit-Daily-Reset": {
                                "$ref": "#/components/headers/X-RateLimit-Daily-Reset"
                            }
                        },
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/JobRequestStatusResource"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized user.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/response_error_default"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Request not found.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/response_error_default"
                                }
                            }
                        }
                    },
                    "429": {
                        "$ref": "#/components/responses/RateLimitExceeded"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/api/v2/models": {
            "get": {
                "tags": [
                    "Client API v2"
                ],
                "summary": "List available models",
                "description": "Lists the inference models available to your account. The list is scoped to you: it contains only enabled models that are either public or explicitly granted to your account, and it omits models that require a higher plan tier than your account has (those return 422 on generation and pricing). A model explicitly granted to your account is always listed, whatever tier it requires.",
                "operationId": "listModels",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/AcceptHeader"
                    },
                    {
                        "$ref": "#/components/parameters/ListLimit"
                    },
                    {
                        "$ref": "#/components/parameters/ListPage"
                    },
                    {
                        "name": "filter[inference_types]",
                        "in": "query",
                        "description": "Comma-separated inference types to filter by. Values are the type slugs returned in each model's `inference_types`. Example: txt2img,vid-upscale",
                        "required": false,
                        "style": "form",
                        "explode": false,
                        "schema": {
                            "type": "array",
                            "items": {
                                "type": "string",
                                "enum": [
                                    "txt2img",
                                    "txt2audio",
                                    "txt2music",
                                    "txt2video",
                                    "txt2embedding",
                                    "img2img",
                                    "img2txt",
                                    "img2video",
                                    "img-upscale",
                                    "img-rmbg",
                                    "audio2text",
                                    "audio2video",
                                    "audio_file2text",
                                    "video2text",
                                    "video_file2text",
                                    "video-replace",
                                    "vid-upscale",
                                    "vid-rmbg"
                                ]
                            }
                        }
                    },
                    {
                        "name": "filter[tags]",
                        "in": "query",
                        "description": "Comma-separated tags to filter by. Tags are controlled labels set per model; read the `tags` field of any model in this response to see which are in use. Example: new,experimental",
                        "required": false,
                        "style": "form",
                        "explode": false,
                        "schema": {
                            "type": "array",
                            "items": {
                                "type": "string"
                            }
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "List of available models.",
                        "headers": {
                            "X-RateLimit-Policy": {
                                "$ref": "#/components/headers/X-RateLimit-Policy"
                            },
                            "X-RateLimit-Source": {
                                "$ref": "#/components/headers/X-RateLimit-Source"
                            },
                            "X-RateLimit-Limit": {
                                "$ref": "#/components/headers/X-RateLimit-Limit"
                            },
                            "X-RateLimit-Remaining": {
                                "$ref": "#/components/headers/X-RateLimit-Remaining"
                            },
                            "X-RateLimit-Reset": {
                                "$ref": "#/components/headers/X-RateLimit-Reset"
                            },
                            "X-RateLimit-Daily-Limit": {
                                "$ref": "#/components/headers/X-RateLimit-Daily-Limit"
                            },
                            "X-RateLimit-Daily-Remaining": {
                                "$ref": "#/components/headers/X-RateLimit-Daily-Remaining"
                            },
                            "X-RateLimit-Daily-Reset": {
                                "$ref": "#/components/headers/X-RateLimit-Daily-Reset"
                            }
                        },
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ClientDiffusionModelCollection"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized user.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/response_error_default"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Request not found.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/response_error_default"
                                }
                            }
                        }
                    },
                    "429": {
                        "$ref": "#/components/responses/RateLimitExceeded"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/api/v2/prompts/enhancements": {
            "post": {
                "tags": [
                    "Client API v2"
                ],
                "summary": "Enhance a prompt",
                "description": "Rewrites a prompt for a specific model using a guide configured for that model and inference type. Requires a guide for your `model_slug` + `type` pair — call the `/price` sibling first, which runs the same check for free and quotes the fee.",
                "operationId": "clientBoostPromptV2",
                "requestBody": {
                    "required": true,
                    "content": {
                        "multipart/form-data": {
                            "schema": {
                                "properties": {
                                    "prompt": {
                                        "type": "string",
                                        "example": "A beautiful landscape with mountains",
                                        "minLength": 3
                                    },
                                    "negative_prompt": {
                                        "type": [
                                            "string",
                                            "null"
                                        ],
                                        "example": "blurry, low quality",
                                        "minLength": 3
                                    },
                                    "type": {
                                        "description": "Inference type, v2 dot notation. Only prompt-driven types are boostable.",
                                        "type": "string",
                                        "example": "images.generations",
                                        "enum": [
                                            "images.generations",
                                            "images.edits",
                                            "videos.generations",
                                            "videos.animations",
                                            "audio.speech",
                                            "audio.music"
                                        ]
                                    },
                                    "model_slug": {
                                        "type": "string",
                                        "example": "Flux1schnell"
                                    },
                                    "image": {
                                        "description": "Reference image. Required for images.edits/videos.animations. Supported formats: JPEG, PNG, BMP, GIF, WebP.",
                                        "type": [
                                            "string",
                                            "null"
                                        ],
                                        "format": "binary"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Enhanced prompts returned successfully",
                        "headers": {
                            "X-RateLimit-Policy": {
                                "$ref": "#/components/headers/X-RateLimit-Policy"
                            },
                            "X-RateLimit-Source": {
                                "$ref": "#/components/headers/X-RateLimit-Source"
                            },
                            "X-RateLimit-Limit": {
                                "$ref": "#/components/headers/X-RateLimit-Limit"
                            },
                            "X-RateLimit-Remaining": {
                                "$ref": "#/components/headers/X-RateLimit-Remaining"
                            },
                            "X-RateLimit-Reset": {
                                "$ref": "#/components/headers/X-RateLimit-Reset"
                            },
                            "X-RateLimit-Daily-Limit": {
                                "$ref": "#/components/headers/X-RateLimit-Daily-Limit"
                            },
                            "X-RateLimit-Daily-Remaining": {
                                "$ref": "#/components/headers/X-RateLimit-Daily-Remaining"
                            },
                            "X-RateLimit-Daily-Reset": {
                                "$ref": "#/components/headers/X-RateLimit-Daily-Reset"
                            }
                        },
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "prompt": {
                                            "type": "string"
                                        },
                                        "negative_prompt": {
                                            "type": [
                                                "string",
                                                "null"
                                            ]
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "422": {
                        "$ref": "#/components/responses/ValidationError",
                        "description": "Validation failed, insufficient balance, no guide available, or the model is not available on your plan. In the last case the error is reported on the \"model_slug\" field (not \"model\") with the message \"This model is not available on your plan. Please upgrade to access it.\" — you cannot boost a prompt for a model you are not able to generate with. Such a model is also omitted from GET /models."
                    },
                    "429": {
                        "$ref": "#/components/responses/RateLimitExceeded"
                    },
                    "403": {
                        "$ref": "#/components/responses/AccountSuspended"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/api/v2/prompts/enhancements/price": {
            "post": {
                "tags": [
                    "Client API v2"
                ],
                "summary": "Estimate prompt enhancement price",
                "description": "Price of a prompt boost, and a free check that one is possible: it runs the same guide lookup as the boost itself, so a 422 here means the boost would also be rejected. Charges nothing either way. NOTE the response shape differs from every other price endpoint: this one returns `{\"price\": …}` at the top level, not wrapped in `data`.",
                "operationId": "clientCalculateBoostPriceV2",
                "requestBody": {
                    "required": true,
                    "content": {
                        "multipart/form-data": {
                            "schema": {
                                "properties": {
                                    "prompt": {
                                        "type": "string",
                                        "example": "A beautiful landscape",
                                        "minLength": 3
                                    },
                                    "negative_prompt": {
                                        "type": [
                                            "string",
                                            "null"
                                        ],
                                        "example": "blurry, low quality",
                                        "minLength": 3
                                    },
                                    "type": {
                                        "description": "Inference type, v2 dot notation. Only prompt-driven types are boostable.",
                                        "type": "string",
                                        "example": "images.generations",
                                        "enum": [
                                            "images.generations",
                                            "images.edits",
                                            "videos.generations",
                                            "videos.animations",
                                            "audio.speech",
                                            "audio.music"
                                        ]
                                    },
                                    "model_slug": {
                                        "type": "string",
                                        "example": "Flux1schnell"
                                    },
                                    "image": {
                                        "description": "Reference image (for price estimation of image-based types).",
                                        "type": [
                                            "string",
                                            "null"
                                        ],
                                        "format": "binary"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Price calculation returned successfully",
                        "headers": {
                            "X-RateLimit-Policy": {
                                "$ref": "#/components/headers/X-RateLimit-Policy"
                            },
                            "X-RateLimit-Source": {
                                "$ref": "#/components/headers/X-RateLimit-Source"
                            },
                            "X-RateLimit-Limit": {
                                "$ref": "#/components/headers/X-RateLimit-Limit"
                            },
                            "X-RateLimit-Remaining": {
                                "$ref": "#/components/headers/X-RateLimit-Remaining"
                            },
                            "X-RateLimit-Reset": {
                                "$ref": "#/components/headers/X-RateLimit-Reset"
                            },
                            "X-RateLimit-Daily-Limit": {
                                "$ref": "#/components/headers/X-RateLimit-Daily-Limit"
                            },
                            "X-RateLimit-Daily-Remaining": {
                                "$ref": "#/components/headers/X-RateLimit-Daily-Remaining"
                            },
                            "X-RateLimit-Daily-Reset": {
                                "$ref": "#/components/headers/X-RateLimit-Daily-Reset"
                            }
                        },
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "price": {
                                            "type": "number",
                                            "format": "float",
                                            "example": 0.00012345
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "422": {
                        "$ref": "#/components/responses/ValidationError",
                        "description": "Validation failed, or the model is not available on your plan. In the last case the error is reported on the \"model_slug\" field (not \"model\") with the message \"This model is not available on your plan. Please upgrade to access it.\""
                    },
                    "429": {
                        "$ref": "#/components/responses/RateLimitExceeded"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/api/v2/videos/audio-syncs": {
            "post": {
                "tags": [
                    "Client API v2"
                ],
                "summary": "Generate a video conditioned on an audio track",
                "description": "Generate a video conditioned on an audio track.",
                "operationId": "syncVideoAudio",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/AcceptHeader"
                    }
                ],
                "requestBody": {
                    "description": "Audio to video generation parameters",
                    "required": true,
                    "content": {
                        "multipart/form-data": {
                            "schema": {
                                "$ref": "#/components/schemas/Aud2VideoRequestBody"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "ID of the inference request.",
                        "headers": {
                            "X-RateLimit-Policy": {
                                "$ref": "#/components/headers/X-RateLimit-Policy"
                            },
                            "X-RateLimit-Source": {
                                "$ref": "#/components/headers/X-RateLimit-Source"
                            },
                            "X-RateLimit-Limit": {
                                "$ref": "#/components/headers/X-RateLimit-Limit"
                            },
                            "X-RateLimit-Remaining": {
                                "$ref": "#/components/headers/X-RateLimit-Remaining"
                            },
                            "X-RateLimit-Reset": {
                                "$ref": "#/components/headers/X-RateLimit-Reset"
                            },
                            "X-RateLimit-Daily-Limit": {
                                "$ref": "#/components/headers/X-RateLimit-Daily-Limit"
                            },
                            "X-RateLimit-Daily-Remaining": {
                                "$ref": "#/components/headers/X-RateLimit-Daily-Remaining"
                            },
                            "X-RateLimit-Daily-Reset": {
                                "$ref": "#/components/headers/X-RateLimit-Daily-Reset"
                            }
                        },
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/JobRequestResponseResource"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized user.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/response_error_default"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Not found.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/response_error_default"
                                }
                            }
                        }
                    },
                    "422": {
                        "$ref": "#/components/responses/ValidationError"
                    },
                    "429": {
                        "$ref": "#/components/responses/RateLimitExceeded"
                    },
                    "403": {
                        "$ref": "#/components/responses/AccountSuspended"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/api/v2/videos/audio-syncs/price": {
            "post": {
                "tags": [
                    "Client API v2"
                ],
                "summary": "Estimate the price of an audio-to-video sync request",
                "description": "Estimate the price of an audio-to-video sync request.",
                "operationId": "estimateVideoAudioSyncPrice",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/AcceptHeader"
                    }
                ],
                "requestBody": {
                    "description": "Audio to video price calculation parameters",
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/Aud2VideoPriceRequestBody"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Calculated price for audio2video inference.",
                        "headers": {
                            "X-RateLimit-Policy": {
                                "$ref": "#/components/headers/X-RateLimit-Policy"
                            },
                            "X-RateLimit-Source": {
                                "$ref": "#/components/headers/X-RateLimit-Source"
                            },
                            "X-RateLimit-Limit": {
                                "$ref": "#/components/headers/X-RateLimit-Limit"
                            },
                            "X-RateLimit-Remaining": {
                                "$ref": "#/components/headers/X-RateLimit-Remaining"
                            },
                            "X-RateLimit-Reset": {
                                "$ref": "#/components/headers/X-RateLimit-Reset"
                            },
                            "X-RateLimit-Daily-Limit": {
                                "$ref": "#/components/headers/X-RateLimit-Daily-Limit"
                            },
                            "X-RateLimit-Daily-Remaining": {
                                "$ref": "#/components/headers/X-RateLimit-Daily-Remaining"
                            },
                            "X-RateLimit-Daily-Reset": {
                                "$ref": "#/components/headers/X-RateLimit-Daily-Reset"
                            }
                        },
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "data": {
                                            "properties": {
                                                "price": {
                                                    "description": "What this request would cost, in the same credit unit as the account balance. A quote only — nothing is charged by this endpoint.",
                                                    "type": "number",
                                                    "format": "float",
                                                    "example": 0.15
                                                }
                                            },
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized user.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/response_error_default"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Not found.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/response_error_default"
                                }
                            }
                        }
                    },
                    "422": {
                        "$ref": "#/components/responses/ValidationError"
                    },
                    "429": {
                        "$ref": "#/components/responses/RateLimitExceeded"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/api/v2/images/edits/price": {
            "post": {
                "tags": [
                    "Client API v2"
                ],
                "summary": "Estimate the price of an image edit request",
                "description": "Estimate the price of an image edit request.",
                "operationId": "estimateImageEditPrice",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/AcceptHeader"
                    }
                ],
                "requestBody": {
                    "description": "Image generation parameters",
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/Img2ImgPriceRequestBody"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Calculated price for img2img inference.",
                        "headers": {
                            "X-RateLimit-Policy": {
                                "$ref": "#/components/headers/X-RateLimit-Policy"
                            },
                            "X-RateLimit-Source": {
                                "$ref": "#/components/headers/X-RateLimit-Source"
                            },
                            "X-RateLimit-Limit": {
                                "$ref": "#/components/headers/X-RateLimit-Limit"
                            },
                            "X-RateLimit-Remaining": {
                                "$ref": "#/components/headers/X-RateLimit-Remaining"
                            },
                            "X-RateLimit-Reset": {
                                "$ref": "#/components/headers/X-RateLimit-Reset"
                            },
                            "X-RateLimit-Daily-Limit": {
                                "$ref": "#/components/headers/X-RateLimit-Daily-Limit"
                            },
                            "X-RateLimit-Daily-Remaining": {
                                "$ref": "#/components/headers/X-RateLimit-Daily-Remaining"
                            },
                            "X-RateLimit-Daily-Reset": {
                                "$ref": "#/components/headers/X-RateLimit-Daily-Reset"
                            }
                        },
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "data": {
                                            "properties": {
                                                "price": {
                                                    "description": "What this request would cost, in the same credit unit as the account balance. A quote only — nothing is charged by this endpoint.",
                                                    "type": "number",
                                                    "format": "float",
                                                    "example": 0.25
                                                },
                                                "is_estimated": {
                                                    "description": "True when the price is an ESTIMATE rather than an exact quote. Partner (external-provider) models are billed by the provider after the inference, so the final charge is not knowable up front.",
                                                    "type": "boolean",
                                                    "example": false
                                                },
                                                "estimate_basis": {
                                                    "description": "What the estimate is derived from. `request_params` - observed costs of requests with these exact parameters; `model_history` - observed costs of recent requests to this model; `model_default` - the model's configured fallback, used while it has no history; `unavailable` - no cost data at all, so `price` is 0.0 and must not be relied on. Null when the price is exact rather than estimated, which is the case for every native (non-partner) model.",
                                                    "type": [
                                                        "string",
                                                        "null"
                                                    ],
                                                    "example": "request_params",
                                                    "enum": [
                                                        "request_params",
                                                        "model_history",
                                                        "model_default",
                                                        "unavailable",
                                                        null
                                                    ]
                                                }
                                            },
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized user.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/response_error_default"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Not found.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/response_error_default"
                                }
                            }
                        }
                    },
                    "422": {
                        "$ref": "#/components/responses/ValidationError"
                    },
                    "429": {
                        "$ref": "#/components/responses/RateLimitExceeded"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/api/v2/images/ocr/price": {
            "post": {
                "tags": [
                    "Client API v2"
                ],
                "summary": "Estimate the price of an image OCR request",
                "description": "Estimate the price of an image OCR request.",
                "operationId": "estimateImageOcrPrice",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/AcceptHeader"
                    }
                ],
                "requestBody": {
                    "description": "Image to text conversion parameters",
                    "required": true,
                    "content": {
                        "multipart/form-data": {
                            "schema": {
                                "$ref": "#/components/schemas/Img2TxtPriceRequestBody"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Calculated price for img2txt inference.",
                        "headers": {
                            "X-RateLimit-Policy": {
                                "$ref": "#/components/headers/X-RateLimit-Policy"
                            },
                            "X-RateLimit-Source": {
                                "$ref": "#/components/headers/X-RateLimit-Source"
                            },
                            "X-RateLimit-Limit": {
                                "$ref": "#/components/headers/X-RateLimit-Limit"
                            },
                            "X-RateLimit-Remaining": {
                                "$ref": "#/components/headers/X-RateLimit-Remaining"
                            },
                            "X-RateLimit-Reset": {
                                "$ref": "#/components/headers/X-RateLimit-Reset"
                            },
                            "X-RateLimit-Daily-Limit": {
                                "$ref": "#/components/headers/X-RateLimit-Daily-Limit"
                            },
                            "X-RateLimit-Daily-Remaining": {
                                "$ref": "#/components/headers/X-RateLimit-Daily-Remaining"
                            },
                            "X-RateLimit-Daily-Reset": {
                                "$ref": "#/components/headers/X-RateLimit-Daily-Reset"
                            }
                        },
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "data": {
                                            "properties": {
                                                "price": {
                                                    "description": "What this request would cost, in the same credit unit as the account balance. A quote only — nothing is charged by this endpoint.",
                                                    "type": "number",
                                                    "format": "float",
                                                    "example": 0.15
                                                }
                                            },
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized user.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/response_error_default"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Not found.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/response_error_default"
                                }
                            }
                        }
                    },
                    "422": {
                        "$ref": "#/components/responses/ValidationError"
                    },
                    "429": {
                        "$ref": "#/components/responses/RateLimitExceeded"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/api/v2/videos/animations/price": {
            "post": {
                "tags": [
                    "Client API v2"
                ],
                "summary": "Estimate the price of an image-to-video animation request",
                "description": "Estimate the price of an image-to-video animation request.",
                "operationId": "estimateVideoAnimationPrice",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/AcceptHeader"
                    }
                ],
                "requestBody": {
                    "description": "Image to video price calculation parameters",
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/Img2VideoPriceRequestBody"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Calculated price for img2video inference.",
                        "headers": {
                            "X-RateLimit-Policy": {
                                "$ref": "#/components/headers/X-RateLimit-Policy"
                            },
                            "X-RateLimit-Source": {
                                "$ref": "#/components/headers/X-RateLimit-Source"
                            },
                            "X-RateLimit-Limit": {
                                "$ref": "#/components/headers/X-RateLimit-Limit"
                            },
                            "X-RateLimit-Remaining": {
                                "$ref": "#/components/headers/X-RateLimit-Remaining"
                            },
                            "X-RateLimit-Reset": {
                                "$ref": "#/components/headers/X-RateLimit-Reset"
                            },
                            "X-RateLimit-Daily-Limit": {
                                "$ref": "#/components/headers/X-RateLimit-Daily-Limit"
                            },
                            "X-RateLimit-Daily-Remaining": {
                                "$ref": "#/components/headers/X-RateLimit-Daily-Remaining"
                            },
                            "X-RateLimit-Daily-Reset": {
                                "$ref": "#/components/headers/X-RateLimit-Daily-Reset"
                            }
                        },
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "data": {
                                            "properties": {
                                                "price": {
                                                    "description": "What this request would cost, in the same credit unit as the account balance. A quote only — nothing is charged by this endpoint.",
                                                    "type": "number",
                                                    "format": "float",
                                                    "example": 0.15
                                                },
                                                "is_estimated": {
                                                    "description": "True when the price is an ESTIMATE rather than an exact quote. Partner (external-provider) models are billed by the provider after the inference, so the final charge is not knowable up front.",
                                                    "type": "boolean",
                                                    "example": false
                                                },
                                                "estimate_basis": {
                                                    "description": "What the estimate is derived from. `request_params` - observed costs of requests with these exact parameters; `model_history` - observed costs of recent requests to this model; `model_default` - the model's configured fallback, used while it has no history; `unavailable` - no cost data at all, so `price` is 0.0 and must not be relied on. Null when the price is exact rather than estimated, which is the case for every native (non-partner) model.",
                                                    "type": [
                                                        "string",
                                                        "null"
                                                    ],
                                                    "example": "request_params",
                                                    "enum": [
                                                        "request_params",
                                                        "model_history",
                                                        "model_default",
                                                        "unavailable",
                                                        null
                                                    ]
                                                }
                                            },
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized user.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/response_error_default"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Not found.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/response_error_default"
                                }
                            }
                        }
                    },
                    "422": {
                        "$ref": "#/components/responses/ValidationError"
                    },
                    "429": {
                        "$ref": "#/components/responses/RateLimitExceeded"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/api/v2/images/background-removals/price": {
            "post": {
                "tags": [
                    "Client API v2"
                ],
                "summary": "Estimate the price of an image background removal request",
                "description": "Estimate the price of an image background removal request.",
                "operationId": "estimateImageBackgroundRemovalPrice",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/AcceptHeader"
                    }
                ],
                "requestBody": {
                    "description": "Image background removal parameters",
                    "required": true,
                    "content": {
                        "multipart/form-data": {
                            "schema": {
                                "$ref": "#/components/schemas/ImageRemoveBgPriceRequestBody"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Calculated price for image background removal inference.",
                        "headers": {
                            "X-RateLimit-Policy": {
                                "$ref": "#/components/headers/X-RateLimit-Policy"
                            },
                            "X-RateLimit-Source": {
                                "$ref": "#/components/headers/X-RateLimit-Source"
                            },
                            "X-RateLimit-Limit": {
                                "$ref": "#/components/headers/X-RateLimit-Limit"
                            },
                            "X-RateLimit-Remaining": {
                                "$ref": "#/components/headers/X-RateLimit-Remaining"
                            },
                            "X-RateLimit-Reset": {
                                "$ref": "#/components/headers/X-RateLimit-Reset"
                            },
                            "X-RateLimit-Daily-Limit": {
                                "$ref": "#/components/headers/X-RateLimit-Daily-Limit"
                            },
                            "X-RateLimit-Daily-Remaining": {
                                "$ref": "#/components/headers/X-RateLimit-Daily-Remaining"
                            },
                            "X-RateLimit-Daily-Reset": {
                                "$ref": "#/components/headers/X-RateLimit-Daily-Reset"
                            }
                        },
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "data": {
                                            "properties": {
                                                "price": {
                                                    "description": "What this request would cost, in the same credit unit as the account balance. A quote only — nothing is charged by this endpoint.",
                                                    "type": "number",
                                                    "format": "float",
                                                    "example": 0.15
                                                }
                                            },
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized user.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/response_error_default"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Not found.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/response_error_default"
                                }
                            }
                        }
                    },
                    "422": {
                        "$ref": "#/components/responses/ValidationError"
                    },
                    "429": {
                        "$ref": "#/components/responses/RateLimitExceeded"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/api/v2/images/upscales/price": {
            "post": {
                "tags": [
                    "Client API v2"
                ],
                "summary": "Estimate the price of an image upscale request",
                "description": "Estimate the price of an image upscale request.",
                "operationId": "estimateImageUpscalePrice",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/AcceptHeader"
                    }
                ],
                "requestBody": {
                    "description": "Image upscaling parameters",
                    "required": true,
                    "content": {
                        "multipart/form-data": {
                            "schema": {
                                "$ref": "#/components/schemas/ImageUpscalePriceRequestBody"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Calculated price for image upscaling inference.",
                        "headers": {
                            "X-RateLimit-Policy": {
                                "$ref": "#/components/headers/X-RateLimit-Policy"
                            },
                            "X-RateLimit-Source": {
                                "$ref": "#/components/headers/X-RateLimit-Source"
                            },
                            "X-RateLimit-Limit": {
                                "$ref": "#/components/headers/X-RateLimit-Limit"
                            },
                            "X-RateLimit-Remaining": {
                                "$ref": "#/components/headers/X-RateLimit-Remaining"
                            },
                            "X-RateLimit-Reset": {
                                "$ref": "#/components/headers/X-RateLimit-Reset"
                            },
                            "X-RateLimit-Daily-Limit": {
                                "$ref": "#/components/headers/X-RateLimit-Daily-Limit"
                            },
                            "X-RateLimit-Daily-Remaining": {
                                "$ref": "#/components/headers/X-RateLimit-Daily-Remaining"
                            },
                            "X-RateLimit-Daily-Reset": {
                                "$ref": "#/components/headers/X-RateLimit-Daily-Reset"
                            }
                        },
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "data": {
                                            "properties": {
                                                "price": {
                                                    "description": "What this request would cost, in the same credit unit as the account balance. A quote only — nothing is charged by this endpoint.",
                                                    "type": "number",
                                                    "format": "float",
                                                    "example": 0.15
                                                }
                                            },
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized user.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/response_error_default"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Not found.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/response_error_default"
                                }
                            }
                        }
                    },
                    "422": {
                        "$ref": "#/components/responses/ValidationError"
                    },
                    "429": {
                        "$ref": "#/components/responses/RateLimitExceeded"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/api/v2/images/generations/price": {
            "post": {
                "tags": [
                    "Client API v2"
                ],
                "summary": "Estimate the price of a text-to-image generation request",
                "description": "Estimate the price of a text-to-image generation request.",
                "operationId": "estimateImagePrice",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/AcceptHeader"
                    }
                ],
                "requestBody": {
                    "description": "Image generation parameters",
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/Txt2ImgPriceRequestBody"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Calculated price for text2img inference.",
                        "headers": {
                            "X-RateLimit-Policy": {
                                "$ref": "#/components/headers/X-RateLimit-Policy"
                            },
                            "X-RateLimit-Source": {
                                "$ref": "#/components/headers/X-RateLimit-Source"
                            },
                            "X-RateLimit-Limit": {
                                "$ref": "#/components/headers/X-RateLimit-Limit"
                            },
                            "X-RateLimit-Remaining": {
                                "$ref": "#/components/headers/X-RateLimit-Remaining"
                            },
                            "X-RateLimit-Reset": {
                                "$ref": "#/components/headers/X-RateLimit-Reset"
                            },
                            "X-RateLimit-Daily-Limit": {
                                "$ref": "#/components/headers/X-RateLimit-Daily-Limit"
                            },
                            "X-RateLimit-Daily-Remaining": {
                                "$ref": "#/components/headers/X-RateLimit-Daily-Remaining"
                            },
                            "X-RateLimit-Daily-Reset": {
                                "$ref": "#/components/headers/X-RateLimit-Daily-Reset"
                            }
                        },
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "data": {
                                            "properties": {
                                                "price": {
                                                    "description": "What this request would cost, in the same credit unit as the account balance. A quote only — nothing is charged by this endpoint.",
                                                    "type": "number",
                                                    "format": "float",
                                                    "example": 0.25
                                                },
                                                "is_estimated": {
                                                    "description": "True when the price is an ESTIMATE rather than an exact quote. Partner (external-provider) models are billed by the provider after the inference, so the final charge is not knowable up front.",
                                                    "type": "boolean",
                                                    "example": false
                                                },
                                                "estimate_basis": {
                                                    "description": "What the estimate is derived from. `request_params` - observed costs of requests with these exact parameters; `model_history` - observed costs of recent requests to this model; `model_default` - the model's configured fallback, used while it has no history; `unavailable` - no cost data at all, so `price` is 0.0 and must not be relied on. Null when the price is exact rather than estimated, which is the case for every native (non-partner) model.",
                                                    "type": [
                                                        "string",
                                                        "null"
                                                    ],
                                                    "example": "request_params",
                                                    "enum": [
                                                        "request_params",
                                                        "model_history",
                                                        "model_default",
                                                        "unavailable",
                                                        null
                                                    ]
                                                }
                                            },
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized user.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/response_error_default"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Not found.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/response_error_default"
                                }
                            }
                        }
                    },
                    "422": {
                        "$ref": "#/components/responses/ValidationError"
                    },
                    "429": {
                        "$ref": "#/components/responses/RateLimitExceeded"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/api/v2/audio/speech/price": {
            "post": {
                "tags": [
                    "Client API v2"
                ],
                "summary": "Estimate the price of a text-to-speech generation request",
                "description": "Estimate the price of a text-to-speech generation request. Either text or count_text must be provided.",
                "operationId": "estimateSpeechPrice",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/AcceptHeader"
                    }
                ],
                "requestBody": {
                    "description": "Audio generation parameters. Either text or count_text must be provided. Voice is optional (not needed for voice_clone or voice_design modes).",
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/Txt2AudioPriceRequestBody"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Calculated price for text2audio inference.",
                        "headers": {
                            "X-RateLimit-Policy": {
                                "$ref": "#/components/headers/X-RateLimit-Policy"
                            },
                            "X-RateLimit-Source": {
                                "$ref": "#/components/headers/X-RateLimit-Source"
                            },
                            "X-RateLimit-Limit": {
                                "$ref": "#/components/headers/X-RateLimit-Limit"
                            },
                            "X-RateLimit-Remaining": {
                                "$ref": "#/components/headers/X-RateLimit-Remaining"
                            },
                            "X-RateLimit-Reset": {
                                "$ref": "#/components/headers/X-RateLimit-Reset"
                            },
                            "X-RateLimit-Daily-Limit": {
                                "$ref": "#/components/headers/X-RateLimit-Daily-Limit"
                            },
                            "X-RateLimit-Daily-Remaining": {
                                "$ref": "#/components/headers/X-RateLimit-Daily-Remaining"
                            },
                            "X-RateLimit-Daily-Reset": {
                                "$ref": "#/components/headers/X-RateLimit-Daily-Reset"
                            }
                        },
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "data": {
                                            "properties": {
                                                "price": {
                                                    "description": "What this request would cost, in the same credit unit as the account balance. A quote only — nothing is charged by this endpoint.",
                                                    "type": "number",
                                                    "format": "float",
                                                    "example": 0.25
                                                }
                                            },
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized user.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/response_error_default"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Not found.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/response_error_default"
                                }
                            }
                        }
                    },
                    "422": {
                        "$ref": "#/components/responses/ValidationError"
                    },
                    "429": {
                        "$ref": "#/components/responses/RateLimitExceeded"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/api/v2/embeddings/price": {
            "post": {
                "tags": [
                    "Client API v2"
                ],
                "summary": "Estimate the price of an embedding request",
                "description": "Estimate the price of an embedding request.",
                "operationId": "estimateEmbeddingPrice",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/AcceptHeader"
                    }
                ],
                "requestBody": {
                    "description": "Text to embedding conversion parameters",
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/Txt2EmbeddingPriceRequestBody"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Calculated price for txt2embedding inference.",
                        "headers": {
                            "X-RateLimit-Policy": {
                                "$ref": "#/components/headers/X-RateLimit-Policy"
                            },
                            "X-RateLimit-Source": {
                                "$ref": "#/components/headers/X-RateLimit-Source"
                            },
                            "X-RateLimit-Limit": {
                                "$ref": "#/components/headers/X-RateLimit-Limit"
                            },
                            "X-RateLimit-Remaining": {
                                "$ref": "#/components/headers/X-RateLimit-Remaining"
                            },
                            "X-RateLimit-Reset": {
                                "$ref": "#/components/headers/X-RateLimit-Reset"
                            },
                            "X-RateLimit-Daily-Limit": {
                                "$ref": "#/components/headers/X-RateLimit-Daily-Limit"
                            },
                            "X-RateLimit-Daily-Remaining": {
                                "$ref": "#/components/headers/X-RateLimit-Daily-Remaining"
                            },
                            "X-RateLimit-Daily-Reset": {
                                "$ref": "#/components/headers/X-RateLimit-Daily-Reset"
                            }
                        },
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "data": {
                                            "properties": {
                                                "price": {
                                                    "description": "What this request would cost, in the same credit unit as the account balance. A quote only — nothing is charged by this endpoint.",
                                                    "type": "number",
                                                    "format": "float",
                                                    "example": 0.0003
                                                }
                                            },
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized user.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/response_error_default"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Not found.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/response_error_default"
                                }
                            }
                        }
                    },
                    "422": {
                        "$ref": "#/components/responses/ValidationError"
                    },
                    "429": {
                        "$ref": "#/components/responses/RateLimitExceeded"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/api/v2/videos/generations/price": {
            "post": {
                "tags": [
                    "Client API v2"
                ],
                "summary": "Estimate the price of a text-to-video generation request",
                "description": "Estimate the price of a text-to-video generation request.",
                "operationId": "estimateVideoPrice",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/AcceptHeader"
                    }
                ],
                "requestBody": {
                    "description": "Text to video conversion parameters",
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/Txt2VideoPriceRequestBody"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Calculated price for txt2video inference.",
                        "headers": {
                            "X-RateLimit-Policy": {
                                "$ref": "#/components/headers/X-RateLimit-Policy"
                            },
                            "X-RateLimit-Source": {
                                "$ref": "#/components/headers/X-RateLimit-Source"
                            },
                            "X-RateLimit-Limit": {
                                "$ref": "#/components/headers/X-RateLimit-Limit"
                            },
                            "X-RateLimit-Remaining": {
                                "$ref": "#/components/headers/X-RateLimit-Remaining"
                            },
                            "X-RateLimit-Reset": {
                                "$ref": "#/components/headers/X-RateLimit-Reset"
                            },
                            "X-RateLimit-Daily-Limit": {
                                "$ref": "#/components/headers/X-RateLimit-Daily-Limit"
                            },
                            "X-RateLimit-Daily-Remaining": {
                                "$ref": "#/components/headers/X-RateLimit-Daily-Remaining"
                            },
                            "X-RateLimit-Daily-Reset": {
                                "$ref": "#/components/headers/X-RateLimit-Daily-Reset"
                            }
                        },
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "data": {
                                            "properties": {
                                                "price": {
                                                    "description": "What this request would cost, in the same credit unit as the account balance. A quote only — nothing is charged by this endpoint.",
                                                    "type": "number",
                                                    "format": "float",
                                                    "example": 0.15
                                                },
                                                "is_estimated": {
                                                    "description": "True when the price is an ESTIMATE rather than an exact quote. Partner (external-provider) models are billed by the provider after the inference, so the final charge is not knowable up front.",
                                                    "type": "boolean",
                                                    "example": false
                                                },
                                                "estimate_basis": {
                                                    "description": "What the estimate is derived from. `request_params` - observed costs of requests with these exact parameters; `model_history` - observed costs of recent requests to this model; `model_default` - the model's configured fallback, used while it has no history; `unavailable` - no cost data at all, so `price` is 0.0 and must not be relied on. Null when the price is exact rather than estimated, which is the case for every native (non-partner) model.",
                                                    "type": [
                                                        "string",
                                                        "null"
                                                    ],
                                                    "example": "request_params",
                                                    "enum": [
                                                        "request_params",
                                                        "model_history",
                                                        "model_default",
                                                        "unavailable",
                                                        null
                                                    ]
                                                }
                                            },
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized user.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/response_error_default"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Not found.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/response_error_default"
                                }
                            }
                        }
                    },
                    "422": {
                        "$ref": "#/components/responses/ValidationError"
                    },
                    "429": {
                        "$ref": "#/components/responses/RateLimitExceeded"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/api/v2/audio/transcriptions/price": {
            "post": {
                "tags": [
                    "Client API v2"
                ],
                "summary": "Estimate the price of a transcription request",
                "description": "Estimate the price of a transcription request. Provide one of: source_url, source_file, or duration_seconds.",
                "operationId": "estimateTranscriptionPrice",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/AcceptHeader"
                    }
                ],
                "requestBody": {
                    "description": "Transcription price calculation parameters",
                    "required": true,
                    "content": {
                        "multipart/form-data": {
                            "schema": {
                                "$ref": "#/components/schemas/TranscribePriceRequestBody"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Calculated price for transcription.",
                        "headers": {
                            "X-RateLimit-Policy": {
                                "$ref": "#/components/headers/X-RateLimit-Policy"
                            },
                            "X-RateLimit-Source": {
                                "$ref": "#/components/headers/X-RateLimit-Source"
                            },
                            "X-RateLimit-Limit": {
                                "$ref": "#/components/headers/X-RateLimit-Limit"
                            },
                            "X-RateLimit-Remaining": {
                                "$ref": "#/components/headers/X-RateLimit-Remaining"
                            },
                            "X-RateLimit-Reset": {
                                "$ref": "#/components/headers/X-RateLimit-Reset"
                            },
                            "X-RateLimit-Daily-Limit": {
                                "$ref": "#/components/headers/X-RateLimit-Daily-Limit"
                            },
                            "X-RateLimit-Daily-Remaining": {
                                "$ref": "#/components/headers/X-RateLimit-Daily-Remaining"
                            },
                            "X-RateLimit-Daily-Reset": {
                                "$ref": "#/components/headers/X-RateLimit-Daily-Reset"
                            }
                        },
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "data": {
                                            "properties": {
                                                "price": {
                                                    "description": "Calculated price for the transcription",
                                                    "type": "number",
                                                    "format": "float",
                                                    "example": 0.25
                                                }
                                            },
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized user.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/response_error_default"
                                }
                            }
                        }
                    },
                    "422": {
                        "$ref": "#/components/responses/ValidationError"
                    },
                    "429": {
                        "$ref": "#/components/responses/RateLimitExceeded"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/api/v2/audio/music/price": {
            "post": {
                "tags": [
                    "Client API v2"
                ],
                "summary": "Estimate the price of a text-to-music generation request",
                "description": "Estimate the price of a text-to-music generation request. Requires duration and inference_steps parameters.",
                "operationId": "estimateMusicPrice",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/AcceptHeader"
                    }
                ],
                "requestBody": {
                    "description": "Music generation parameters for price calculation.",
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/Txt2MusicPriceRequestBody"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Calculated price for text2music inference.",
                        "headers": {
                            "X-RateLimit-Policy": {
                                "$ref": "#/components/headers/X-RateLimit-Policy"
                            },
                            "X-RateLimit-Source": {
                                "$ref": "#/components/headers/X-RateLimit-Source"
                            },
                            "X-RateLimit-Limit": {
                                "$ref": "#/components/headers/X-RateLimit-Limit"
                            },
                            "X-RateLimit-Remaining": {
                                "$ref": "#/components/headers/X-RateLimit-Remaining"
                            },
                            "X-RateLimit-Reset": {
                                "$ref": "#/components/headers/X-RateLimit-Reset"
                            },
                            "X-RateLimit-Daily-Limit": {
                                "$ref": "#/components/headers/X-RateLimit-Daily-Limit"
                            },
                            "X-RateLimit-Daily-Remaining": {
                                "$ref": "#/components/headers/X-RateLimit-Daily-Remaining"
                            },
                            "X-RateLimit-Daily-Reset": {
                                "$ref": "#/components/headers/X-RateLimit-Daily-Reset"
                            }
                        },
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "data": {
                                            "properties": {
                                                "price": {
                                                    "description": "What this request would cost, in the same credit unit as the account balance. A quote only — nothing is charged by this endpoint.",
                                                    "type": "number",
                                                    "format": "float",
                                                    "example": 0.25
[...]
